body{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Anek Latin', sans-serif;
}
/*header====================================================================================================*/

.header{
    background-color: rgb(0, 0, 0);

}

.container{
    max-width: 1400px;
    margin: 0 220px;
    border: solid red 1px;
   
}

.header_inner{
    margin: 0px 70px;
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.main_text{
    font-weight: 700;
    font-size: 50px;
    line-height: 74px;
    margin-top: 110px;
    color: #EFF7FF;
}

.second_text{
    opacity: 70%;
    font-weight: 400;
    font-size: 23px;
    line-height: 59px;
    color: #FFF8E3;
    display: flex;
    align-items: center;
}

.car{
    display: flex;
    flex-direction: row;
    padding: 40px 40px 40px 40px;
    margin-right: 100px;
    border: red solid 2px;
    border-radius: 30px;
}

.car_info{
    margin-left: 40px;
    line-height: 1.5;
}

.car_info>h3{
   color: #FFF8E3;
   font-size: 30px;
}

/* secton1 ========================================== */

section{
    background-color: black;

}

.section_inner{
    margin-top: 104px;
    background: #1C2435;
    border-radius: 29px;
    padding: 73px 100px 95px 108px;
}

.gold{
    color: #BF9A5E;
}

.gilded{
    color: #E3CC97;
}

.turquoise{
    color: #CEFFFF;
}

section h3{
    font-size: 30px;
}

.first_par{
    font-size: 20px;
    line-height: 1.5;
}

.second_par{
    font-size: 40px;
    color: white;
}

button{
    width: 458px;
    height: 109px;
    background: linear-gradient(#CEFFFF, #BF9A5E); 
    border-radius: 29px;
    text-align: center;
    display: inline-block;
    font-size: 35px;
}

p{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}